<config>
    <modules>
        <Flst_Storelocator>
            <version>0.0.2</version>
        </Flst_Storelocator>
    </modules>
    <frontend>
        <routers>
            <storelocator>
                <use>standard</use>
                <args>
                    <module>Flst_Storelocator</module>
                    <frontName>storelocator</frontName>
                </args>
            </storelocator>
        </routers>
        <layout>
            <updates>
                <storelocator>
                    <file>storelocator_layout.xml</file>
                </storelocator>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <storelocator>
                <class>Flst_Storelocator_Model</class>
                <resourceModel>storelocator_mysql4</resourceModel>
            </storelocator>
            <storelocator_mysql4>
                <class>Flst_Storelocator_Model_Mysql4</class>
                <entities>
                    <storelocator>
                        <table>storelocator_stores</table>
                    </storelocator>
                </entities>
            </storelocator_mysql4>
        </models>
        <resources>
            <storelocator_setup>
                <setup>
                    <module>Flst_Storelocator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storelocator_setup>
            <storelocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storelocator_write>
            <storelocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storelocator_read>
        </resources>
        <blocks>
            <storelocator>
                <class>Flst_Storelocator_Block</class>
            </storelocator>
        </blocks>
        <helpers>
            <storelocator>
                <class>Flst_Storelocator_Helper</class>
            </storelocator>
        </helpers>
    </global>
</config>