<config>
    <modules>
        <Flst_Vouchers>
            <version>0.0.3</version>
        </Flst_Vouchers>
    </modules>
    <frontend>
        <routers>
            <vouchers>
                <use>standard</use>
                <args>
                    <module>Flst_Vouchers</module>
                    <frontName>vouchers</frontName>
                </args>
            </vouchers>
        </routers>
        <layout>
            <updates>
                <vouchers>
                    <file>vouchers_layout.xml</file>
                </vouchers>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <vouchers>
                <use>admin</use>
                <args>
                    <module>Flst_Vouchers</module>
                    <frontName>adminvouchers</frontName>
                </args>
            </vouchers>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vouchers>
                    <file>admin_vouchers_layout.xml</file>
                </vouchers>
            </updates>
        </layout>
        
    </adminhtml>
    <global>
        <models>
            <vouchers>
                <class>Flst_Vouchers_Model</class>
                <resourceModel>vouchers_mysql4</resourceModel>
            </vouchers>
            <vouchers_mysql4>
                <class>Flst_Vouchers_Model_Mysql4</class>
                <entities>
                    <vouchers>
                        <table>vouchers</table>
                    </vouchers>
                </entities>
            </vouchers_mysql4>
        </models>
        <resources>
            <vouchers_setup>
                <setup>
                    <module>Flst_Vouchers</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vouchers_setup>
            <vouchers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vouchers_write>
            <vouchers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vouchers_read>
        </resources>
        <blocks>
            <vouchers>
                <class>Flst_Vouchers_Block</class>
            </vouchers>
        </blocks>
        <helpers>
            <vouchers>
                <class>Flst_Vouchers_Helper</class>
            </vouchers>
        </helpers>
    </global>
</config>