.manufacturer_list_head
{	
	padding-bottom:20px;
	color: #949494;
	font-size: 17px;
	font-family:Georgia;
	text-transform:capitalize;
	padding-bottom:20px;
	margin:0;
}
.feature .manufacturer_list_head{margin:0 0 8px;}
#featured_manufacturer li
{
	display:inline;
	margin-right:1px;
}

#featured_manufacturer li a img
{
	padding: 1px;
	height: 100px;
	margin: 0;
}

#manufacturer_char_filter
{
	text-align:left;
}
#product-manufacturer img{height: 50px; width: auto;}
#manufacturer_content .description-img img{height: 150px; width:auto;}
#manufacturer_char_filter li a{
	color: #d5b15a;
	font-size: 12px;
	font-weight: normal;
	font-family: arial;
	text-decoration:none;
}
#manufacturer_char_filter li
{
	display:inline;
	margin-right:12px;
	font-weight:bold;
}
#feature-manufacturer img{border: 1px solid #E2E2E2;}
#manufacturer_list li a span{
	color: #2e2e2e;
	font-size: 12px;
	font-family: arial;
	font-weight: normal;
}
#manufacturer-table{padding-bottom: 10px;}
#manufacturer_list
{
	line-height:30px;
	padding-top:33px;
}
#featured_manufacturer{
	border: 1px solid #e1e1e1;
	height: 100px;
	margin-bottom: 30px;
	padding:20px 0;
	
}
#manufacturer_list li
{	
	width:25%;
	float:left;
	line-height: 24px;
}
#product-manufacturer{
	width: 390px;
}

#manufacturer_category_tree ul
{
	line-height:25px;
	padding-left:20px;
}

#manufacturer_category_tree ul a.active
{
	font-weight:bold;
}

#manufacturer_left
{
	width:20%;
	float:left;
	margin-right:10px;
}

#manufacturer_content
{
	float:left;
	width:100%;
}
#manufacturer_content .manufacturer_image img{
	height: 150px;
    width: auto;
}


#manufacturer-table table tr td{
	padding:15px 10px 0px 0px;
}
.block-brands .block-title{margin-bottom:3px;}

#listmanufacturer a {font-size:12px !important;color:#2F2F2F;}

#featured_manufacturer li img{border:0; width:auto; margin:10px;}


.feature-content {width:675px; height:auto; overflow:hidden; margin-bottom:15px;}

#screen{float:left;	width:670px; padding:0px; margin:0px;}		
	
#screen li{float:left; list-style:none;}

#screen .jq-ss-crop{	margin:5px 5px;	border:1px solid #e3d78f}

#left,#right{font-weight:bolder; font-size:36px; margin-top:70px; display:block; text-decoration:none; color:black;}
			
#view {display:inline; height:auto; margin:15px 15px 0px 0px;overflow:hidden; text-align:center; width:615px; }
			
#images{float:left; width:3818px !important; width:3822px; padding:0;}

$images li{margin-right:5px;}
			
#images li img{border:0; width:107px; }

.manufacturer-product-list{margin-top:20px;float:left; width:100%;}


#product-manufacturer .logo{width:80px; float:left;}
#product-manufacturer .description-short{float:left; text-align:justify; width:250px;}

#feature-manufacturer{width:100%; text-align: center;}

#feature-manufacturer .center{
	text-align:center !important; 
	padding: 5px 0px 15px 0px !important;
}