<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Themeinstaller>
            <version>0.2.1</version>
        </Magestore_Themeinstaller>
    </modules>
    <frontend>
        <routers>
            <themeinstaller>
                <use>standard</use>
                <args>
                    <module>Magestore_Themeinstaller</module>
                    <frontName>themeinstaller</frontName>
                </args>
            </themeinstaller>
        </routers>
        <layout>
            <updates>
                <themeinstaller>
                    <file>themeinstaller.xml</file>
                </themeinstaller>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<themeinstaller>
				<use>admin</use>
				<args>
					<module>Magestore_Themeinstaller</module>
					<frontName>themeinstaller</frontName>
				</args>
			</themeinstaller>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<themeinstaller>
					<file>themeinstaller.xml</file>
				</themeinstaller>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <themeinstaller>
                <class>Magestore_Themeinstaller_Model</class>
                <resourceModel>themeinstaller_mysql4</resourceModel>
            </themeinstaller>
            <themeinstaller_mysql4>
                <class>Magestore_Themeinstaller_Model_Mysql4</class>
                <entities>
                    <themeinstaller>
                        <table>themeinstaller</table>
                    </themeinstaller>
                </entities>
            </themeinstaller_mysql4>
        </models>
		<events>
			<controller_action_predispatch_adminhtml>
				<observers>
					<magestore_themeinstaller>
						<class>magestore_themeinstaller_model_observer</class>
						<method>controller_action_predispatch_adminhtml</method>
					</magestore_themeinstaller>
				</observers>
			</controller_action_predispatch_adminhtml>
		</events>
        <blocks>
            <themeinstaller>
                <class>Magestore_Themeinstaller_Block</class>
            </themeinstaller>
        </blocks>
        <helpers>
            <themeinstaller>
                <class>Magestore_Themeinstaller_Helper</class>
            </themeinstaller>
        </helpers>
    </global>
</config>